In [51]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

## Análise Inicial

In [52]:
df1 = pd.read_csv("dataset/kaggle_train.csv")
df2 = pd.read_csv("dataset/kaggle_test.csv")

df = pd.concat([df1, df2], ignore_index=True)
df = df.set_index("Id")
df

,description,address,property_type,price,size,bedrooms,bathrooms,parking_spaces,contract_type,latitude,longitude
Id,,,,,,,,,,,
3796,"SGAN 906 Módulo E, ASA NORTE, BRASILIA",NaN,kitnet,270000.0,27.0,1.0,NaN,NaN,venda,-15.771441,-47.894002
4830,"QNG 2, TAGUATINGA NORTE, TAGUATINGA",NaN,casa,520000.0,249.0,4.0,NaN,5.0,venda,-15.799918,-48.060482
1521,"Rua 4C Chacará 14, VICENTE PIRES, VICENTE PIRES",NaN,apartamento,285000.0,98.0,2.0,NaN,2.0,venda,-15.817467,-48.024206
13571,"Residencial Damha I Quadra A1, RESIDENCIAL E C...",NaN,lote,120000.0,380.0,NaN,NaN,NaN,venda,-15.797515,-47.891887
4541,"GRANJA DO TORTO, GRANJA DO TORTO, BRASILIA",NaN,casa,780000.0,300.0,4.0,NaN,3.0,venda,-15.703169,-47.912267
...,...,...,...,...,...,...,...,...,...,...,...
231,"QI 12 Bloco O, GUARA I, GUARA",NaN,apartamento,NaN,67.0,3.0,NaN,1.0,venda,-15.820552,-47.989192
11765,"Residencial Damha II Quadra C2, RESIDENCIAL E ...",NaN,lote,NaN,387.0,NaN,NaN,NaN,venda,-15.815916,-48.064199
4253,"Rua 10 Chacará 160, VICENTE PIRES, VICENTE PIRES",NaN,casa,NaN,400.0,3.0,NaN,5.0,venda,-15.797491,-48.037437
10597,"QS 6 Conjunto 4, RIACHO FUNDO, RIACHO FUNDO",NaN,casa,NaN,240.0,6.0,NaN,3.0,venda,-15.886853,-48.021037
2747,"QS 30, RIACHO FUNDO II, RIACHO FUNDO",NaN,apartamento,NaN,60.0,3.0,NaN,1.0,venda,-15.898365,-48.047235

In [53]:
df.head()

,description,address,property_type,price,size,bedrooms,bathrooms,parking_spaces,contract_type,latitude,longitude
Id,,,,,,,,,,,
3796,"SGAN 906 Módulo E, ASA NORTE, BRASILIA",NaN,kitnet,270000.0,27.0,1.0,NaN,NaN,venda,-15.771441,-47.894002
4830,"QNG 2, TAGUATINGA NORTE, TAGUATINGA",NaN,casa,520000.0,249.0,4.0,NaN,5.0,venda,-15.799918,-48.060482
1521,"Rua 4C Chacará 14, VICENTE PIRES, VICENTE PIRES",NaN,apartamento,285000.0,98.0,2.0,NaN,2.0,venda,-15.817467,-48.024206
13571,"Residencial Damha I Quadra A1, RESIDENCIAL E C...",NaN,lote,120000.0,380.0,NaN,NaN,NaN,venda,-15.797515,-47.891887
4541,"GRANJA DO TORTO, GRANJA DO TORTO, BRASILIA",NaN,casa,780000.0,300.0,4.0,NaN,3.0,venda,-15.703169,-47.912267

In [54]:
df.columns

Index(['description', 'address', 'property_type', 'price', 'size', 'bedrooms',
       'bathrooms', 'parking_spaces', 'contract_type', 'latitude',
       'longitude'],
      dtype='object')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15243 entries, 3796 to 2747
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   description     15243 non-null  object
 1   address         0 non-null      float64
 2   property_type   15243 non-null  object
 3   price           12194 non-null  float64
 4   size            14487 non-null  float64
 5   bedrooms        12063 non-null  float64
 6   bathrooms       0 non-null      float64
 7   parking_spaces  9914 non-null   float64
 8   contract_type   15243 non-null  object
 9   latitude        15243 non-null  float64
 10  longitude       15243 non-null  float64
dtypes: float64(8), object(3)
memory usage: 1.4+ MB

In [56]:
df.describe()

,address,price,size,bedrooms,bathrooms,parking_spaces,latitude,longitude
count,0.0,12194.000000,14487.000000,12063.000000,0.0,9914.000000,15243.000000,15243.000000
mean,NaN,472782.505248,436.988058,3.012518,NaN,2.745713,-15.860549,-47.976283
std,NaN,246909.622836,4374.362311,1.304276,NaN,2.478027,0.439041,0.247683
min,NaN,100000.000000,1.000000,1.000000,NaN,1.000000,-23.758431,-49.271470
25%,NaN,267000.000000,78.000000,2.000000,NaN,1.000000,-15.879989,-48.070571
50%,NaN,420000.000000,150.000000,3.000000,NaN,2.000000,-15.833659,-48.012380
75%,NaN,660000.000000,280.000000,3.000000,NaN,3.000000,-15.797515,-47.913309
max,NaN,999999.000000,250000.000000,22.000000,NaN,60.000000,-3.767821,-38.663459

In [57]:
df["property_type"].value_counts()

property_type
casa           7910
apartamento    3658
lote           2624
rural           704
kitnet          175
sala            172
Name: count, dtype: int64

In [58]:
df["contract_type"].value_counts()

contract_type
venda    15243
Name: count, dtype: int64

In [59]:
df.select_dtypes(exclude=['object']).corr()["price"].sort_values(ascending=False)

price             1.000000
bedrooms          0.393282
parking_spaces    0.255736
longitude         0.056772
latitude          0.051069
size              0.038135
address                NaN
bathrooms              NaN
Name: price, dtype: float64

### Feature engineering

In [60]:
df = df.drop(["bathrooms", "address", "contract_type"], axis=1)
df

,description,property_type,price,size,bedrooms,parking_spaces,latitude,longitude
Id,,,,,,,,
3796,"SGAN 906 Módulo E, ASA NORTE, BRASILIA",kitnet,270000.0,27.0,1.0,NaN,-15.771441,-47.894002
4830,"QNG 2, TAGUATINGA NORTE, TAGUATINGA",casa,520000.0,249.0,4.0,5.0,-15.799918,-48.060482
1521,"Rua 4C Chacará 14, VICENTE PIRES, VICENTE PIRES",apartamento,285000.0,98.0,2.0,2.0,-15.817467,-48.024206
13571,"Residencial Damha I Quadra A1, RESIDENCIAL E C...",lote,120000.0,380.0,NaN,NaN,-15.797515,-47.891887
4541,"GRANJA DO TORTO, GRANJA DO TORTO, BRASILIA",casa,780000.0,300.0,4.0,3.0,-15.703169,-47.912267
...,...,...,...,...,...,...,...,...
231,"QI 12 Bloco O, GUARA I, GUARA",apartamento,NaN,67.0,3.0,1.0,-15.820552,-47.989192
11765,"Residencial Damha II Quadra C2, RESIDENCIAL E ...",lote,NaN,387.0,NaN,NaN,-15.815916,-48.064199
4253,"Rua 10 Chacará 160, VICENTE PIRES, VICENTE PIRES",casa,NaN,400.0,3.0,5.0,-15.797491,-48.037437
10597,"QS 6 Conjunto 4, RIACHO FUNDO, RIACHO FUNDO",casa,NaN,240.0,6.0,3.0,-15.886853,-48.021037
2747,"QS 30, RIACHO FUNDO II, RIACHO FUNDO",apartamento,NaN,60.0,3.0,1.0,-15.898365,-48.047235

In [61]:
desc = df['description'].str.split(',', expand=True)
df['RA'] = desc.apply(lambda row: next((str(row[i]).strip() for i in range(3, -1, -1) if pd.notnull(row[i])), None), axis=1)
df.head()

,description,property_type,price,size,bedrooms,parking_spaces,latitude,longitude,RA
Id,,,,,,,,,
3796,"SGAN 906 Módulo E, ASA NORTE, BRASILIA",kitnet,270000.0,27.0,1.0,NaN,-15.771441,-47.894002,BRASILIA
4830,"QNG 2, TAGUATINGA NORTE, TAGUATINGA",casa,520000.0,249.0,4.0,5.0,-15.799918,-48.060482,TAGUATINGA
1521,"Rua 4C Chacará 14, VICENTE PIRES, VICENTE PIRES",apartamento,285000.0,98.0,2.0,2.0,-15.817467,-48.024206,VICENTE PIRES
13571,"Residencial Damha I Quadra A1, RESIDENCIAL E C...",lote,120000.0,380.0,NaN,NaN,-15.797515,-47.891887,CIDADE OCIDENTAL
4541,"GRANJA DO TORTO, GRANJA DO TORTO, BRASILIA",casa,780000.0,300.0,4.0,3.0,-15.703169,-47.912267,BRASILIA

In [62]:
df.info()
imputer =  SimpleImputer(strategy='median')

df['size'] = imputer.fit_transform(df[['size']])
df['bedrooms'] = imputer.fit_transform(df[['bedrooms']])
df['parking_spaces'] = df['parking_spaces'].fillna(df['property_type'].apply(lambda x: 10 if x == 'rural' else 0))


scaler = StandardScaler()
cols = ['size', 'bedrooms', 'parking_spaces']

df[cols] = scaler.fit_transform(df[cols])

<class 'pandas.core.frame.DataFrame'>
Index: 15243 entries, 3796 to 2747
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   description     15243 non-null  object
 1   property_type   15243 non-null  object
 2   price           12194 non-null  float64
 3   size            14487 non-null  float64
 4   bedrooms        12063 non-null  float64
 5   parking_spaces  9914 non-null   float64
 6   latitude        15243 non-null  float64
 7   longitude       15243 non-null  float64
 8   RA              15243 non-null  object
dtypes: float64(6), object(3)
memory usage: 1.2+ MB

In [ ]:
df["location_cluster"] = KMeans(n_clusters=2    ).fit_predict(df[["latitude", "longitude"]])

In [64]:
df = df.join(pd.get_dummies(df["RA"], dtype=int))
df = df.join(pd.get_dummies(df["property_type"], dtype=int))
df = df.drop(columns=["description", "RA", "property_type", 'latitude', 'longitude'])

In [65]:
df.head()

,price,size,bedrooms,parking_spaces,location_cluster,AGUAS CLARAS,AGUAS LINDAS DE GOIAS,ALPHAVILLE,BRASILIA,BRAZLANDIA,...,VALPARAISO DE GOIAS,VARJAO,VICENTE PIRES,VILA ESTRUTURAL,apartamento,casa,kitnet,lote,rural,sala
Id,,,,,,,,,,,,,,,,,,,,,
3796,270000.0,-0.092795,-1.732318,-0.756665,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4830,520000.0,-0.040741,0.853352,1.091648,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1521,285000.0,-0.076147,-0.870428,-0.017340,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
13571,120000.0,-0.010025,-0.008538,-0.756665,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4541,780000.0,-0.028783,0.853352,0.352323,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

# Treinando o Modelo

In [66]:
from sklearn.neural_network import MLPRegressor

In [67]:
X_train = df[df['price'].notnull()].drop(columns=["price"])
Y_train = df[df['price'].notnull()]["price"]

X_test_ini = df[df['price'].isnull()].reset_index()
X_test = X_test_ini.drop(columns=["Id", "price"])

In [68]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12194 entries, 3796 to 7271
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   size                         12194 non-null  float64
 1   bedrooms                     12194 non-null  float64
 2   parking_spaces               12194 non-null  float64
 3   location_cluster             12194 non-null  int32
 4   AGUAS CLARAS                 12194 non-null  int64
 5   AGUAS LINDAS DE GOIAS        12194 non-null  int64
 6   ALPHAVILLE                   12194 non-null  int64
 7   BRASILIA                     12194 non-null  int64
 8   BRAZLANDIA                   12194 non-null  int64
 9   CANDANGOLANDIA               12194 non-null  int64
 10  CEILANDIA                    12194 non-null  int64
 11  CIDADE OCIDENTAL             12194 non-null  int64
 12  CRUZEIRO                     12194 non-null  int64
 13  FORMOSA                      12194 non-null  int64
 14  GAMA                         12194 non-null  int64
 15  GUARA                        12194 non-null  int64
 16  LUZIANIA                     12194 non-null  int64
 17  NUCLEO BANDEIRANTE           12194 non-null  int64
 18  PARANOA                      12194 non-null  int64
 19  PLANALTINA                   12194 non-null  int64
 20  PLANALTINA DE GOIAS          12194 non-null  int64
 21  RECANTO DAS EMAS             12194 non-null  int64
 22  RIACHO FUNDO                 12194 non-null  int64
 23  SAMAMBAIA                    12194 non-null  int64
 24  SANTA MARIA                  12194 non-null  int64
 25  SANTO ANTONIO DO DESCOBERTO  12194 non-null  int64
 26  SAO SEBASTIAO                12194 non-null  int64
 27  SETOR INDUSTRIAL             12194 non-null  int64
 28  SOBRADINHO                   12194 non-null  int64
 29  TAGUATINGA                   12194 non-null  int64
 30  VALPARAISO DE GOIAS          12194 non-null  int64
 31  VARJAO                       12194 non-null  int64
 32  VICENTE PIRES                12194 non-null  int64
 33  VILA ESTRUTURAL              12194 non-null  int64
 34  apartamento                  12194 non-null  int64
 35  casa                         12194 non-null  int64
 36  kitnet                       12194 non-null  int64
 37  lote                         12194 non-null  int64
 38  rural                        12194 non-null  int64
 39  sala                         12194 non-null  int64
dtypes: float64(3), int32(1), int64(36)
memory usage: 3.8 MB

# MLP Regressor

In [69]:
model = MLPRegressor(hidden_layer_sizes=(100, 50), max_iter=500)
model.fit(X_train, Y_train)

predicts = model.predict(X_test)
predicts

array([384768.96812955, 622105.83226376, 428028.539951  , ...,
       729338.45210133, 631304.61530742, 332289.37488504])

# Avaliação e Otimização

In [70]:
model = MLPRegressor(
    hidden_layer_sizes=(128, 64, 32), 
    activation='relu', 
    solver='adam',             
    max_iter=1000,              
    learning_rate='adaptive',
    early_stopping=True,
)

model.fit(X_train, Y_train)

predictions = model.predict(X_test)
predictions

array([290812.99387772, 627964.61979444, 406630.50297825, ...,
       821356.01785224, 660827.46159213, 288403.18062437])

In [71]:
predictions = pd.DataFrame({'Id': X_test_ini['Id'], 'price': predictions})

predictions.to_csv('dataset/predictions1.csv', index=False)

In [72]:
model = MLPRegressor(
    hidden_layer_sizes=(75,50, 25), 
    activation='relu',     
    solver='adam',       
    max_iter=1000,              
    learning_rate='adaptive',
    early_stopping=True,
)

model.fit(X_train, Y_train)

predictions = model.predict(X_test)
predictions

array([383663.34330603, 621832.91266409, 430424.39975915, ...,
       725787.07065791, 634741.06833943, 336297.55060442])

In [73]:
predictions = pd.DataFrame({'Id': X_test_ini['Id'], 'price': predictions})

predictions.to_csv('dataset/predictions2.csv', index=False)

In [74]:
X_test_ini['price'] = predictions['price']

In [75]:
X_test_ini

,Id,price,size,bedrooms,parking_spaces,location_cluster,AGUAS CLARAS,AGUAS LINDAS DE GOIAS,ALPHAVILLE,BRASILIA,...,VALPARAISO DE GOIAS,VARJAO,VICENTE PIRES,VILA ESTRUTURAL,apartamento,casa,kitnet,lote,rural,sala
0,4094,383663.343306,-0.068644,-0.008538,-0.756665,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,10766,621832.912664,-0.045196,1.715242,0.721985,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,10376,430424.399759,-0.047541,0.853352,-0.017340,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3775,524210.465721,-0.085058,-0.870428,-0.756665,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,8780,461940.317838,-0.076616,-0.008538,-0.017340,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3044,231,511551.557358,-0.083416,-0.008538,-0.387002,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3045,11765,256554.462114,-0.008384,-0.008538,-0.756665,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3046,4253,725787.070658,-0.005335,-0.008538,1.091648,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3047,10597,634741.068339,-0.042852,2.577132,0.352323,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3048,2747,336297.550604,-0.085058,-0.008538,-0.387002,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

------